*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
form{
    /* background-color: rgb(102, 97, 97); */
    margin: 20px;
}
.container{
    border: 1px solid black;
    padding:50px;
}
input[type=email], input[type=password]{
    width: 100%;
    padding: 15px;
    margin: 5px 0 25px 0;
    border: 1px solid #f1f1f1;
}
hr{
    border: 1px solid #f1f1f1;  
    margin-bottom: 30px;
}